# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import gkey
print (gkey)

AIzaSyBsstqyVHrqFOcs3nM298Q2PBm9NKaSiO4

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#import csv
city_data = pd.read_csv("../output_data/city data file.csv")
city_data.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,coihaique,-45.5752,-72.0662,55.42,86,100,4.52,CL,1614569485
1,1,ustka,54.5805,16.8619,37.17,90,2,9.06,PL,1614569486
2,2,hilo,19.7297,-155.0900,69.80,83,90,9.22,US,1614569415
3,3,tatarsk,55.2190,75.9828,8.64,95,100,11.56,RU,1614569487
4,4,mataura,-46.1927,168.8643,70.00,75,53,11.01,NZ,1614569488

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [43]:
# store lat and lon into locations variable
locations =  city_data[["Latitude", "Longitude"]]

In [49]:
# Plot Heatmap
fig = gmaps.figure()

In [62]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=city_data["Humidity"], 
                                  dissipating=False, max_intensity=10,
                                 point_radius=1)

In [63]:
# Add layer
fig.add_layer(heat_layer)

In [64]:
# fig = gmaps.figure(layout={
#         'width': '400px',
#         'height': '600px',
#         'padding': '3px',
#         'border': '1px solid black'
# })

In [65]:
#fig=gmaps.figure(layout={'height':'600px'})

In [66]:
# Display figure
fig

Figure(layout=FigureLayout(height='600px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [77]:
#narrow down by temp
city_temp = city_data.loc[city_data["Max Temp"] < 80]
city_temp

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,coihaique,-45.5752,-72.0662,55.42,86,100,4.52,CL,1614569485
1,1,ustka,54.5805,16.8619,37.17,90,2,9.06,PL,1614569486
2,2,hilo,19.7297,-155.0900,69.80,83,90,9.22,US,1614569415
3,3,tatarsk,55.2190,75.9828,8.64,95,100,11.56,RU,1614569487
4,4,mataura,-46.1927,168.8643,70.00,75,53,11.01,NZ,1614569488
...,...,...,...,...,...,...,...,...,...,...
547,547,westport,41.1415,-73.3579,39.20,93,90,10.36,US,1614569670
548,548,moose factory,51.2585,-80.6094,10.40,85,90,14.97,CA,1614569670
549,549,mapiripan,2.8892,-72.1256,78.08,60,47,2.75,CO,1614569671
550,550,koscierzyna,54.1223,17.9812,33.80,100,90,9.22,PL,1614569671
551,551,castanos,26.7833,-101.4167,70.21,63,74,4.41,MX,1614569671

In [84]:
temp_city_2= city_temp.loc[city_temp["Max Temp"] > 70]
temp_city_2

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,11,soyo,-6.1349,12.3689,79.70,86,100,10.80,AO,1614569490
14,14,junin,-34.5838,-60.9433,72.00,89,0,9.80,AR,1614569491
15,15,makurdi,7.7411,8.5121,73.89,73,5,5.10,NG,1614569491
17,17,hermanus,-34.4187,19.2345,72.00,83,0,3.00,ZA,1614569492
21,21,punta cardon,11.6581,-70.2150,76.46,78,4,17.96,VE,1614569493
...,...,...,...,...,...,...,...,...,...,...
535,535,nicoya,10.1483,-85.4520,75.24,70,93,10.42,CR,1614569649
537,537,pemba,-12.9740,40.5178,73.40,100,75,3.44,MZ,1614569667
539,539,tank,32.2217,70.3793,71.28,21,0,1.32,PK,1614569668
549,549,mapiripan,2.8892,-72.1256,78.08,60,47,2.75,CO,1614569671
551,551,castanos,26.7833,-101.4167,70.21,63,74,4.41,MX,1614569671

In [86]:
# take temp datafame and add wind speed criteria
wind_city= temp_city_2.loc[temp_city_2["Wind Speed"] < 10]
wind_city

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,14,junin,-34.5838,-60.9433,72.00,89,0,9.80,AR,1614569491
15,15,makurdi,7.7411,8.5121,73.89,73,5,5.10,NG,1614569491
17,17,hermanus,-34.4187,19.2345,72.00,83,0,3.00,ZA,1614569492
22,22,busselton,-33.6500,115.3333,71.01,63,100,5.99,AU,1614569493
27,27,rio grande,-32.0350,-52.0986,73.99,84,42,5.01,BR,1614569495
...,...,...,...,...,...,...,...,...,...,...
532,532,amapa,1.0000,-52.0000,71.56,96,100,1.86,BR,1614569666
537,537,pemba,-12.9740,40.5178,73.40,100,75,3.44,MZ,1614569667
539,539,tank,32.2217,70.3793,71.28,21,0,1.32,PK,1614569668
549,549,mapiripan,2.8892,-72.1256,78.08,60,47,2.75,CO,1614569671
551,551,castanos,26.7833,-101.4167,70.21,63,74,4.41,MX,1614569671

In [89]:
final_city=wind_city.loc[wind_city["Cloudiness"] == 0]
len(final_city)

22

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure